
body {
    width: 100%;
    margin: 0;
    background-color: antiquewhite;
    justify-content: center;
    font-family: "Barlow", serif;
}

a {
    text-decoration: none;
    color: black;
}



/* Header - styles */
header div {
    display: grid;
    grid-template-columns: auto 850px 50px 40px 40px auto;
}

header h1 {
    grid-column: 2;
    margin-left: 20px;
    font-size: 2.5rem;
}

header img {
    grid-column: 3;
    width: 1.8rem;
    align-self: center;
}

header .shop {
    grid-column: 4;
}

header .profile {
    grid-column: 5;
    width: 2.9rem;
}

nav {
    display: grid;
    grid-template-columns: auto 140px 140px 140px 590px auto;
    width: 100vw;
    margin: 0;
    background-color: white;
}

nav a {
    width: auto;
    margin-top: 9px;
    margin-bottom: 9px;
    padding: 15px;
    font-size: 1.4rem;
    border-right: solid 1px;
    text-align: center;
}

nav > a:hover {
    background-color: rgb(255, 246, 235);
}

nav .home {
    grid-column: 2;
    border-left: solid 1px;
}

nav .product {
    grid-column: 3;
}

nav .contact {
    grid-column: 4;
}



/* Main - styles */ 
main {
    width: 980px;
    margin: 0;
    justify-self: center;
}

main h2 {
    font-size: 1.7rem;
}

main p {
    font-size: 1.3rem;
    flex-wrap: wrap;
}

aside {

}

/* Home */
.homeMain {
    display: flex;
    flex-direction: column;
}

.info {
    width: 700px;
    border: solid 2px black;
    border-radius: 20px;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
}

.info h2 {
    font-size: 1.9rem;
}

.info p {
    font-size: 1.5rem;
}

.newJuice {
    margin-top: 30px;
    padding: 15px;
}

.newJuice img {
    width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
}

.newJuice a {
    display: inline-block;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(254, 246, 251);
    font-weight: 500;
}

.newJuice a:hover {
    transform: scale(1.03);
}

.newJuice p {
    padding: 10px 10px;
    margin: 0;
}

.newJuice p:first-of-type {
    margin-top: 20px;
}


/* Products */
.productMain {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.productMain > a {
    display: block;
    width: 650px;
    height: auto;
}

.produkt {
    width: auto;
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgb(254, 246, 251);
}

.produkt:hover {
    transform: scale(1.03);
    border: 3px purple solid;
}

.produkt img {
    width: 50%;
    height: auto;
    border-radius: 20px;
}

.produkt h2 {
    margin-top: 10px;
} 


/* Contact us */

.burk {
    width: 60%;
    height: auto;
}
.faq {
    display: flex;
    padding: 40px;
    text-align: center;
}



/* Juice - styles */

.juiceMain {
    display: flex;
}

.juiceMain img {
    
    width: 50%;
    height: auto;
}

.juiceDiv > h2 {
    width: auto;
}

.juiceDiv {
    width: auto;
}

