
body {
    width: 100%;
    margin: 0;
    background-color: antiquewhite;
    justify-content: center;
    font-family: "Barlow", serif;
}

a {
    text-decoration: none;
    color: black;
}

.logotyp {
    width: 6rem;
    border-radius: 50px;
    border: 3px solid white;
    grid-column: 2;
}


/* Header - styles */
header div {
    display: grid;
    grid-template-columns: auto 100px 750px 50px 40px 40px auto;
}

header h1 {
    grid-column: 3;
    margin-left: 20px;
    font-size: 2.5rem;
    align-self: center;
}

header img {
    grid-column: 4;
    width: 1.8rem;
    align-self: center;
}

header .logotyp {
    grid-row: 1;
    margin: 10px 0;
}

header .shop {
    grid-column: 5;
}

header .profile {
    grid-column: 6;
    width: 2.9rem;
}

nav {
    display: grid;
    grid-template-columns: auto 140px 140px 140px 590px auto;
    width: 100vw;
    margin: 0;
    background-color: rgb(254, 246, 251);
    border: 2px solid white;
}

nav a {
    width: auto;
    margin-top: 9px;
    margin-bottom: 9px;
    padding: 15px;
    font-size: 1.4rem;
    border-right: solid 1px;
    text-align: center;
}

nav > a:hover {
    background-color: rgb(255, 246, 235);
}

nav .home {
    grid-column: 2;
    border-left: solid 1px;
}

nav .product {
    grid-column: 3;
}

nav .contact {
    grid-column: 4;
}



/* Main - styles */ 
main {
    width: 980px;
    margin: 0;
    justify-self: center;
}

main h2 {
    font-size: 1.7rem;
}

main p {
    font-size: 1.3rem;
    flex-wrap: wrap;
}

aside {
    width: 200px;
    padding-left: 20px;
    margin-top: 20px;
    border-left: 1px solid black;
    margin-left: 20px;
}

aside img {
    width: 100%;
    margin-top: 10px;
}


/* Home */
.homeMain {
    display: flex;
    flex-direction: column;
}

.homeMain aside {
    position: absolute;
    align-self: flex-end;
}

.info {
    width: 700px;
    border: solid 2px black;
    border-radius: 20px;
    align-items: center;
    margin-top: 30px;
    padding: 0 20px;
}

.info h2 {
    font-size: 1.9rem;
}

.info p {
    font-size: 1.5rem;
}

.newJuice {
    margin-top: 30px;
    padding: 15px;
}

.newJuice img {
    width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.newJuice a {
    display: inline-block;
    font-size: 1.5rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(254, 246, 251);
    font-weight: 500;
}

.newJuice a:hover {
    transform: scale(1.03);
}

.newJuice p {
    padding: 10px 10px;
    margin: 0;
}

.newJuice p:first-of-type {
    margin-top: 20px;
}


/* Products */
.productMain {
    display: grid;
    grid-template-columns: 700px 250px;
    padding: 30px;
}

.productMain > a {
    display: block;
    grid-column: 1;
    grid-row: 1;
    width: 650px;
    height: auto;
}

.produkt {
    width: auto;
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: rgb(254, 246, 251);
}

.produkt:hover {
    transform: scale(1.03);
    border: 3px purple solid;
}

.produkt img {
    width: 50%;
    height: auto;
    border-radius: 20px;
}

.produkt h2 {
    margin-top: 10px;
} 

.productMain aside {
    grid-column: 2;
    grid-row: 1;
}


/* Contact us */
.burk {
    width: 60%;
    height: auto;
}
.faq {
    display: flex;
    padding: 40px;
    text-align: center;
}



/* Objekt - styles */
.objektMain {
    display: flex;
}

.objektMain img {
    width: 90%;
    height: auto;
    border-radius: 25px;
    margin-bottom: 30px;
}

.objektDiv {
    width: 700px;
    margin-top: 60px;
}

.objektMain .titel {
    color: rgb(251, 138, 202);
    width: 100px;
}

.objektMain table, .objektMain table th, .objektMain table td {
    border: 1px solid black;
}

.objektMain table td {
    text-align: center;
}




/* Footer - styles */
footer {
    height: 20vh;
    width: auto;
    background-color: rgb(254, 246, 251);
    border-top: white solid 3px;
    display: grid;
    grid-template-columns: auto 200px 750px auto;
}

footer .logotyp {
    width: 15vh;
    border-radius: 70px;
    align-self: center;
}

footer strong {
    font-size: 1.8rem;
    grid-column: 3;
    align-self: center;
}